apiVersion: v1
kind: PersistentVolume
metadata:
{% if k8s_resource_persistentvolume_params.annotations is defined %}
  annotations:
    {{k8s_resource_persistentvolume_params.annotations | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
{% if k8s_resource_persistentvolume_params.labels is defined %}
  labels:
    {{k8s_resource_persistentvolume_params.labels | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
  name: {{k8s_resource_persistentvolume_params.name}}
spec:
  {{k8s_resource_persistentvolume_params.spec | to_nice_yaml(indent=2) | indent(width=2, indentfirst=false)}}
  {{k8s_resource_persistentvolume_params.volume_info | to_nice_yaml(indent=2) | indent(width=2, indentfirst=false)}}
