# Example answer file for setup-alpine script
# If you don't want to use a certain option, then comment it out

# Use US layout with US variant
KEYMAPOPTS="{{vm_alpine_params.keyboard.layout | default(vm_alpine_defaults.keyboard.layout)}} {{vm_alpine_params.keyboard.variant | default(vm_alpine_defaults.keyboard.variant)}}"

# Set hostname to alpine-test
HOSTNAMEOPTS="-n alpine-test"

# Contents of /etc/network/interfaces
INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
    hostname alpine-test
"

# Set timezone
TIMEZONEOPTS="-z {{vm_alpine_params.timezone | default(vm_alpine_defaults.timezone)}}"

# set http/ftp proxy
PROXYOPTS="none"

# Add a random mirror
APKREPOSOPTS="-1"

# Install Openssh
SSHDOPTS="-c openssh"

# Use openntpd
NTPOPTS="-c openntpd"

# Use /dev/sda as a data disk
DISKOPTS="-m sys /dev/sda"

