apiVersion: v1
kind: Namespace
metadata:
{% if k8s_resource_namespace_params.annotations is defined %}
  annotations:
    {{k8s_resource_namespace_params.annotations | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
{% if k8s_resource_namespace_params.labels is defined %}
  labels:
    {{k8s_resource_namespace_params.labels | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
  name: {{k8s_resource_namespace_params.name}}
