apiVersion: v1
kind: Secret
metadata:
{% if k8s_resource_secret_params.annotations is defined %}
  annotations:
    {{k8s_resource_secret_params.annotations | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
{% if k8s_resource_secret_params.labels is defined %}
  labels:
    {{k8s_resource_secret_params.labels | to_nice_yaml(indent=2) | indent(width=4, indentfirst=false)}}
{% endif %}
  name: {{k8s_resource_secret_params.name}}
  namespace: {{k8s_resource_secret_params.namespace}}
data:
  {{k8s_resource_secret_params.key}}: {{k8s_resource_secret_params.value | b64encode}}
type: Opaque
