
replicas: {{k8s_app_jira_params.replicas | default(k8s_app_jira_defaults.replicas)}}
selector:
  matchLabels:
    app: {{k8s_app_jira_internal.app_name}}
template:
  metadata:
    labels:
      app: {{k8s_app_jira_internal.app_name}}
  serviceName: {{k8s_app_jira_params.name}}
  spec:
    containers:
      - name: jira
        image: atlassian/jira-software
        imagePullPolicy: IfNotPresent
        env:
          - name: ATL_PROXY_NAME
            value: {{k8s_app_jira_params.hostname}}
          - name: ATL_PROXY_PORT
            value: "443"
          - name: ATL_TOMCAT_SCHEME
            value: https
          - name: ATL_TOMCAT_SECURE
            value: "true"
          - name: JVM_MAXIMUM_MEMORY
            value: {{k8s_app_jira_params.memory.max | default(k8s_app_jira_defaults.memory.max)}}
          - name: JVM_MINIMUM_MEMORY
            value: {{k8s_app_jira_params.memory.min | default(k8s_app_jira_defaults.memory.min)}}
        ports:
          - containerPort: 80
            name: http
            protocol: TCP
        volumeMounts:
          - mountPath: /var/atlassian/application-data/jira
            name: pv
    initContainers:
      - name: wait-db
        image: busybox:latest
        command: ['sh', '-c', "until nc -z {{k8s_app_jira_params.database.host}} {{k8s_app_jira_params.database.port}}; do echo Waiting for database; sleep 1; done"]
volumeClaimTemplates:
  - metadata:
      name: pv
    spec:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: {{k8s_app_jira_params.size}}
      selector:
        matchLabels:
          app: {{k8s_app_jira_internal.app_name}}
      storageClassName: ""
